<article>

  <h1> {{ "gdpr.title" | t }} </h1>
  <i> {{ "gdpr.description" | t }} </i>

  <br>
  <br>

  <section>
    <h2> {{ "gdpr.username.title" | t }} </h2>
    <ul>
      <li> {{ "gdpr.username.description1" | t }} </li>
    </ul>
  </section>

  <section>
    <h2> {{ "gdpr.email.title" | t }} </h2>
    <ul>
      <li> {{ "gdpr.email.description1" | t }} </li>
    </ul>
    <ul>
      <li> {{ "gdpr.email.description2" | t }} </li>
    </ul>
  </section>

  <section>
    <h2> {{ "gdpr.cookies.title" | t }} </h2>
    <ul>
      <li> {{ "gdpr.cookies.description1" | t }} </li>
    </ul>
  </section>

</article>
