@import 'src/assets/styles/colors';

article {
  padding-top: 2em;

  section {
    margin: 1em 0;
    padding: 1em 0.5em;

    &:nth-child(2n-1) {
      background-color: $base-theme-background-color-2;
    }

    ul {
      margin: 0.5em 1.5em;
      list-style-type: disc;

      li {
        margin-bottom: 0.25em;
      }
    }
  }

}
