@import 'src/assets/styles/colors';

form {

  & > * {
    box-sizing: border-box;
  }

  div {

    div.wrap {
      margin: 0.25em;

      textarea {
        background-color: $base-theme-color;
        width: 100%;
        max-width: 100%;
        padding: 0.5em;
        display: block;
      }

      div.textareaStatusbar {
        background-color: $base-theme-color;

        div {

        }
      }
    }
  }
}
