@import '../../assets/styles/colors';


html {
  min-height: 100%;
  height: 100%;

  body {
    min-height: 100%;
    height: 100%;

    app-root {
      height: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;

      header {
        flex: 0 0 auto;
      }

      main {
        flex: 1 0 auto;
      }
    }
  }
}


form.register, form.login, form.logout {
  display: table;
  background-color: $base-theme-color;
  padding: 0.5em;

  div {
    width: 100%;

    div.wrap {
      padding: 0.25em;
      width: 100%;

      input {
        width: 100%;
        margin:0;
      }
    }
  }
}

form.login, form.register {
  width: 16em;
  max-width: 16em;
}
