
$base-theme-background: #ebf6ff;
$base-theme-color: #b0ddff;
$base-theme-color-hover: #90cfff;
$base-theme-color-2: #eee;
//$base-theme-color-hover: #fff;
$base-theme-text: #222;
$base-shadow: #000;

$nav-text-coor: #fff;

$transition-fast: 0.125s;
$transition-med: 0.25s;

$inputs-background: #f8f8f8;
$inputs-background-active: #fff;

$inputs-text: #000;
$inputs-text-disabled: #aaa;

$inputs-border-focus: #000;
$inputs-border-invalid: #D00;

$inputs-shadow: #888;

$button-background-hover: #ddd;

$error-message-text: #000000;
$error-message-background: transparent;

$item-odd-background: #e9faff;
