$base-theme-color: #beefff;

$transition-fast: 0.125s;
$transition-med: 0.25s;

$inputs-background: #eee;

$inputs-text: #000;
$inputs-text-disabled: #aaa;

$inputs-border-focus: #000;
$inputs-border-invalid: #D00;

$inputs-shadow: #888;

$button-background-hover: #ddd;

$error-message-text: #fff;
$error-message-background: $inputs-border-invalid;
