article {
  padding-top: 2em;

  section {
    margin: 1em 0;
    padding: 1em 0.5em;

    ul {
      margin: 0.5em 1.5em;
      list-style-type: disc;

      li {
        margin-bottom: 0.5em;
      }
    }
  }

}
