<article>

  <h1> {{ "developers.title" | t }} </h1>
  <i> {{ "developers.description" | t }} </i>


  <section class="git">

    <h2>GitHub</h2>

    <div>
      <span>Backend, core app [Java 8, Spring framework]</span>
      <br>
      <span> <a href="https://github.com/K0V0/paster-backend">https://github.com/K0V0/paster-backend</a> </span>
    </div>

    <br>

    <div>
      <span>Frontend [TypeScript 4.3.5, Angular 12.2]</span>
      <br>
      <span> <a href="https://github.com/K0V0/paster-frontend">https://github.com/K0V0/paster-frontend</a> </span>
    </div>

  </section>


  <section class="api">

    <h2>API</h2>
    <i> {{ "developers.api.description" | t }} </i>

    <br>

    <div>
      <ul>
        <li>
          {{ "developers.api.info.s1" | t }}
          <a href="mailto:info@kovo.space">info@kovo.space</a>
          <br>
          {{ "developers.api.info.s2" | t }}
        </li>
        <li>
          {{ "developers.api.info.s3" | t }}
          <a href="https://github.com/K0V0/paster-backend/blob/develop/README.md">
            {{ "developers.api.info.s4" | t }}
          </a>
        </li>
        <li>
          {{ "developers.api.info.s5" | t }}
          <a href="https://api.paster.cloud">https://api.paster.cloud</a>
        </li>
      </ul>
    </div>

  </section>


</article>
