<form class="login"
      [formGroup]="login"
      (ngSubmit)="doLogin()">

  <div>
    <div class="wrap">
      <input type="text"
             formControlName="user"
             placeholder="{{ 'login.page.user' | t }}">
    </div>
    <app-local-error fieldRef="user"
                     formGroupRef="register"
                     [componentRef]="this">
    </app-local-error>
    <app-server-error fieldName="user"
                      [errorsObject]="serverFieldsErrorMessages">
    </app-server-error>
  </div>

  <div>
    <div class="wrap">
      <input type="password"
             formControlName="pass"
             placeholder="{{ 'login.page.pass' | t }}">
    </div>
    <app-local-error fieldRef="pass"
                     formGroupRef="register"
                     [componentRef]="this">
    </app-local-error>
    <app-server-error [fieldName]="'pass'"
                      [errorsObject]="serverFieldsErrorMessages">
    </app-server-error>
  </div>

  <div class="text-right">
    <button [disabled] = "!login.valid"> {{ 'login.page.submit' | t }} </button>
  </div>

  <div>
    <app-server-error [fieldName]="'form'"
                      [errorsObject]="serverFormErrorMessage">
    </app-server-error>
  </div>

</form>
