@import 'src/assets/styles/colors';

nav {
  background-color: $menubars-background-color;
  text-align: right;
  padding: 0.5em 0;

  ul {
    font-size: 1.25em;
    display: inline-block;
    padding: 0 0.25em;
    width: 100%;
    z-index: 100;

    li {
      display: inline-block;
      position: relative;

      div {

        &.widget {
          position: absolute;
          top:100%;
          right: 0;
          padding-top: 1.25em;
          padding-right: 0.75em;
        }
      }

      a {
        font-size: 1em;
        text-decoration: none;
        padding: 0;

        &.widgetEnabled {
          background-color: $button-background-hover;
        }

        span {
          display: inline-block;
          padding: 0.125em 0.25em;
        }
      }
    }
  }
}
