<nav>
  <ul>

    <li>
      <div>
        <a
            routerLink=''
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/language') }"
        >
          <span class="buttonComponent"
                (click)="toggleWidget('/language', $event)">
            <b> &#9873; </b> <em> {{ currentLang }} </em>
          </span>
        </a>
      </div>
    </li>

    <li>
      <div>
        <a
            routerLink=''
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/') }"
        >
          <span class="buttonComponent">
            {{ 'nav.home' | t }}
          </span>
        </a>
      </div>
    </li>

    <li *ngIf="loggedIn">
      <div>
        <a routerLink='board'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/board') }"
        >
          <span class="buttonComponent"> {{ 'nav.board' | t }} </span>
        </a>
      </div>
    </li>

    <li *ngIf="!loggedIn">
      <div>
        <a routerLink='register'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/register') }"
        >
          <span (click)="toggleWidget('/register', $event)"
                class="buttonComponent"
          >
            {{ 'nav.register' | t }}
          </span>
        </a>
      </div>
    </li>

    <li *ngIf="!loggedIn">
      <div>
        <a routerLink='login'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/login') }"
        >
          <span (click)="toggleWidget('/login', $event)"
                class="buttonComponent"
          >
            {{ 'nav.login' | t }}
          </span>
        </a>
      </div>
    </li>

    <li *ngIf="loggedIn">
      <div>
        <a routerLink='logout'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active"
            [ngClass]="{'widgetEnabled': widgetStates.get('/logout') }"
        >
          <span (click)="toggleWidget('/logout', $event)"
                class="buttonComponent"
          >
            {{ 'nav.logout' | t }}
          </span>
        </a>
      </div>
    </li>

  </ul>
</nav>

<div class="widget"
      *ngIf="widgetStates.get('/register')"
      [@loginRegisterWidgetAnimation]>
  <app-register class="logregFormWidget"></app-register>
</div>

<div class="widget"
      *ngIf="widgetStates.get('/login')"
      [@loginRegisterWidgetAnimation]>
  <app-login class="logregFormWidget"></app-login>
</div>

<div class="widget"
      *ngIf="widgetStates.get('/logout')"
      [@loginRegisterWidgetAnimation]>
  <app-logout class="logregFormWidget"></app-logout>
</div>

<div class="widget"
      *ngIf="widgetStates.get('/language')"
      [@loginRegisterWidgetAnimation]>
  <app-translate class="logregFormWidget"></app-translate>
</div>
