<nav>
  <ul>

    <!--<li> <a routerLink=''
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
      {{ 'nav.home' | t }}
    </a> </li>-->

    <li *ngIf="!loggedIn">
      <div>
        <a routerLink='register'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
          <span (click)="toggleRegisterWidget($event)">
            {{ 'nav.register' | t }}
          </span>
        </a>
      </div>
      <div class="widget"
           *ngIf="!isOnRegistrationPage && !isOnLoginPage && showRegistrationWidget"
           [@loginRegisterWidgetAnimation]>
        <app-register class="logregFormWidget"></app-register>
      </div>
    </li>

    <li *ngIf="!loggedIn">
      <div>
        <a routerLink='login'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
          <span (click)="toggleLoginWidget($event)">
            {{ 'nav.login' | t }}
          </span>
        </a>
      </div>
      <div class="widget"
           *ngIf="!isOnLoginPage && !isOnRegistrationPage && showLoginWidget"
           [@loginRegisterWidgetAnimation]>
        <app-login class="logregFormWidget"></app-login>
      </div>
    </li>

    <li *ngIf="loggedIn">
      <div>
        <a routerLink='board'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
          {{ 'nav.board' | t }}
        </a>
      </div>
    </li>

    <li *ngIf="loggedIn">
      <div>
        <a routerLink='logout'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
          {{ 'nav.logout' | t }}
        </a>
      </div>
      <app-logout></app-logout>
    </li>

  </ul>
</nav>
