@import 'src/assets/styles/colors';

section#boardItems {

  & > div {
    overflow: hidden;
    //height: 0;

    & > div {
      margin: 0.25em;
      padding:0.25em;
      background-color: $item-odd-background;
    }

    /*&:nth-child(2n) {
      background-color: $item-odd-background;

    }*/
  }
}
