<section id="boardItems">
  <div [@tableItemAppendAnimation] *ngFor="let item of boardItems.items; index as i;">
    <div (click)="copyToClipboard(item.text);">

      <div class="itemBaseSection"
            *ngIf="!boardItemsExtraTextVisibility[item.id]">
        <span>{{ item.preview }}</span>
      </div>

      <div class="itemButtonsSection">

        <button *ngIf="boardItemsExtraTextVisibility[item.id]"
                (click)="loadWholeText(item.id); $event.stopPropagation()"
                class="buttonComponent hideFullText">
          {{ "board.page.itemsTable.hideFullText" | t }}
        </button>

        <span>
          {{ item.timestamp }}
        </span>

        <button (click)="deleteItem(item.id); $event.stopPropagation()"
                class="buttonComponent deleteItem">
          {{ "board.page.itemsTable.delete" | t }}
        </button>

      </div>

      <div  *ngIf="item.preview !== item.text && !boardItemsExtraTextVisibility[item.id]"
            class="itemMoreSection separatingLine">

        <span (click)="loadWholeText(item.id); $event.stopPropagation()">
          {{ "board.page.itemsTable.more" | t }}
        </span>

      </div>

      <div class="itemFulltextSection"
            *ngIf="item.preview !== item.text && boardItemsExtraTextVisibility[item.id]">
        {{ item.text }}
      </div>

    </div>
  </div>
</section>
