<article class="credits">

  <section class="left">
    <span> <i> {{ "home.credits.credits" | t }}: </i> </span>
    <div>
      <span>{{ "home.credits.1.work" | t }} - Matej Kováč</span>
      <br>
      <span> <a href="https://kovo.space"> www.kovo.space </a> </span>
    </div>
  </section>

  <section class="middle"></section>

  <section class="right">
    <span> <a href="/gdpr"> {{ "home.legal.gdpr" | t }} </a> </span>
    <br>
    <span> <a href="/cookies"> {{ "home.legal.cookies" | t }} </a> </span>
    <br>
    <span> {{ "home.legal.sitemap" | t }} </span>
    <br>
    <span> GitHub </span>
    <br>
    <span> API </span>
  </section>

</article>
