
@import 'src/assets/styles/colors';

$pc-color: #999;
$pc-monitor-color: #ddd;
$pc-logo-color: #fff;
$pc-highlight-color: $base-theme-hover-color;

article {
  padding: 2em 2em;
}

article.banner1 {

  figure {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-color: $pc-monitor-color;
    border-color: $pc-color;
    border-style: solid;
    box-sizing: border-box;
    margin: 1em;

    div {
      height: 100%;
      overflow: hidden;

      div {
        background-color: white;
        height: 100%;

        h1, span {
          line-height: 1.125em;
          font-weight: bold;
        }

        span {
          background-color: $pc-highlight-color;
          color: white;
          vertical-align: middle;
          display: inline-block;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            display: inline-block;
            width:0.125em;
            background-color: black;
            vertical-align: middle;
            top:0;
            bottom:0%;
            animation: blinker 1s infinite;
          }
        }
      }
    }
  }

  figure.pc {
    border-radius: 0.5em;
    border-width: 0.5em;
    border-bottom-width: 2em;
    width: 20em;
    height: 14em;

    &::after {
      display: block;
      width: 10em;
      position: absolute;
      top: 13.5em;
      left: 4.5em;
      content: "";
      background-color: $pc-color;
      height: 5em;
      border-top-left-radius: 5em;
      border-top-right-radius: 5em;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12em;
      background-color: $pc-logo-color;
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      left: 9em;
    }

    div {

      div {
        margin-top: 1em;
        margin-left:1em;
        margin-right: 1em;
        padding-top:0.25em;
        padding-left: 0.25em;
        padding-right: 0.25em;

        h1 {
          font-size: 1.75em;
        }

        span {
          font-size: 1.875em;
        }
      }
    }
  }

  figure.notebook {
    width: 16em;
    height: 10em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-width: 0.5em;

    &::after {
      content: "";
      display: block;
      width: 16em;
      height: 1.25em;
      background-color: $pc-color;
      position: absolute;
      top: 9.75em;
      left: -0.5em;
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em;
    }

    div {

      div {
        margin-top: 0.75em;
        margin-left: 0.75em;
        margin-right: 0.75em;
        padding: 0.25em;

        span, h1 {
          font-size: 1.5em;
          line-height: 1.125em;
          font-weight: bold;
        }
      }
    }
  }
}

article.banner2 {
  background-color: $base-theme-background-color-2;
}

article.banner3 {

}
