<article class="banner1">

  <section class="figures">

    <figure class="pc">
      <div>
        <div>
          <h1>{{ "home.banner1.heading1" | t }}</h1>
          <span>{{ "home.banner1.slogan1" | t }}</span>
        </div>
      </div>
    </figure>

    <figure class="notebook">
      <div>
        <div>
          <span>{{ "home.banner1.slogan1" | t }}</span>
        </div>
      </div>
    </figure>

    <figure class="phone">
      <div>
        <div>
          <span>{{ "home.banner1.slogan1" | t }}</span>
        </div>
      </div>
    </figure>

  </section>

  <section class="infos">

  </section>

</article>

<article class="banner2">

  <section class="figures">
    <figure class="clock">
      <div class="hours"></div>
      <div class="minutes"></div>
      <div class="minutes before"></div>
    </figure>
  </section>

  <section class="infos">
    <span> <h1>{{ "home.banner2.heading1" | t }}</h1> </span>
    <span> <h2>{{ "home.banner2.slogan1" | t }}</h2> </span>
    <span> {{ "home.banner2.slogan2" | t }} </span>
  </section>

</article>

<article class="banner3">

  <section class="figures">
    <figure class="zero">
        <span class="num">0</span><span class="prc">,-</span>
    </figure>
  </section>

  <section class="infos">
      <span> <h1> {{ "home.banner3.heading1" | t }} </h1> </span>
      <span> {{ "home.banner3.slogan1" | t }} </span>
      <span> {{ "home.banner3.slogan2" | t }} </span>
      <span> {{ "home.banner3.slogan3" | t }} </span>
  </section>

</article>
