<article class="banner1">

  <figure class="pc">
    <div>
      <div>
        <h1>{{ "home.banner1.heading1" | t }}</h1>
        <span>{{ "home.banner1.slogan1" | t }}</span>
      </div>
    </div>
  </figure>

  <figure class="notebook">
    <div>
      <div>
        <span>{{ "home.banner1.slogan1" | t }}</span>
      </div>
    </div>
  </figure>

  <figure class="phone"></figure>

</article>

<article class="banner2">

  <figure class="clock">

  </figure>

  <figure class="list">
    <div>
      <h1>{{ "home.banner2.heading1" | t }}</h1>
    </div>
    <div>
      <h2>{{ "home.banner2.slogan1" | t }}</h2>
    </div>
    <div>
      <span>
        {{ "home.banner2.slogan2" | t }}
      </span>
    </div>
  </figure>

</article>

<article class="banner3">

  <figure class="zero">
    <div>
      <span>0,-</span>
    </div>
  </figure>

  <figure>
    <div>
      <h1>{{ "home.banner3.heading1" | t }}</h1>
    </div>
    <div>
      <span>{{ "home.banner3.slogan1" | t }}</span>
    </div>
    <div>
      <span>{{ "home.banner3.slogan2" | t }}</span>
    </div>
    <div>
      <span>{{ "home.banner3.slogan3" | t }}</span>
    </div>
  </figure>

</article>
