<nav>
  <ul>

    <!--<li> <a routerLink=''
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
      {{ 'nav.home' | t }}
    </a> </li>-->

    <li> <a routerLink='register'
            *ngIf="!loggedIn"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
      {{ 'nav.register' | t }}
    </a> </li>

    <li> <a routerLink='login'
            *ngIf="!loggedIn"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
      {{ 'nav.login' | t }}
    </a> </li>

    <li> <a routerLink='board'
            *ngIf="loggedIn"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active">
      {{ 'nav.board' | t }}
    </a> </li>

  </ul>
</nav>
